@media (max-width: 1536px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .navigation__list {
    display: none;
    transition: transform 0.3s ease;
  }

  #menuBtn {
    display: block;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 1000;
    right: 2rem;
  }

  .mobile-links {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #1a1e1f;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 3rem;
    z-index: 1;
    color: white;
    padding-right: 2rem;
    font-size: 2rem;
    transition: transform 0.3s ease;
  }

  .partniors__items {
    flex-direction: column;
    gap: 1.5rem;
  }

  .partniors__btn {
    display: none;
  }

  .partniors__items__img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    max-width: 380px;
  }
}
