@media (max-width: 1536px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 768px;
  }
  .hero-title__subtitle {
    font-size: 1.8rem;
  }

  .partniors__left,
  .partniors__right {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .navigation__list {
    display: none;
  }

  .main-header.hide-header {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .hero-title__more {
    font-size: 1.2rem;
  }

  .hero__desc__title {
    font-size: 1.8rem;
  }

  .hero__desc__subtitle {
    font-size: 1.5rem;
  }

  .mobile_burger {
    display: block;
    margin-right: 5%;
    cursor: pointer;
    z-index: 100;
  }

  .mobile_burger div {
    width: 35px;
    position: relative;
  }

  .mobile_burger span {
    background: #f4f4f4;
    width: 100%;
    height: 4px;
    border-radius: 1px 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.5s, width 0.5s;
  }

  .mobile_burger .line-1 {
    width: 50%;
    transform: translate(0, -10px);
    transform-origin: 100% 100%;
  }

  .mobile_burger .line-3 {
    width: 50%;
    left: auto;
    right: 0;
    transform: translate(100%, 10px);
    transform-origin: 0 0;
  }

  .openmenu .line-1 {
    transform: translate(-4px, -5px) rotate(45deg);
  }

  .openmenu .line-2 {
    transform: translate(0, -100%) rotate(-45deg);
  }

  .openmenu .line-3 {
    transform: translate(19.5px, -1.5px) rotate(45deg);
  }

  .mobile-active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 40%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    z-index: 1;
    color: white;
    font-size: 1.9rem;
    text-align: center;
  }

  .hero-title__subtitle {
    font-size: 1.5rem;
  }

  .partniors__left,
  .partniors__right,
  .slider-dots {
    display: none;
  }

  .partniors__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    touch-action: pan-y;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .partniors__items img,
  .partniors__alone img {
    padding-inline: 1rem;
  }

  .partniors__items::-webkit-scrollbar {
    display: none;
  }

  .partniors__head {
    text-align: center;
    font-size: 120%;
    font-weight: 600;
  }
}

@media (max-width: 585px) {
  .mobile-active {
    font-size: 95%;
  }
  .container {
    max-width: 100%;
  }
}

@media (max-width: 525px) {
  .navigation__logo img {
    width: 80%;
    height: 80%;
  }

  .partniors__items img,
  .partniors__alone img {
    width: 95%;
  }

  .hero-title__subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 285px) {
  /* footer section */
  .footer__container {
    gap: 2rem;
  }

  .footer__terms-and-conditions-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__rights-reserved-container,
  .footer__logos,
  .footer__social-links-container {
    display: flex;
    justify-content: center;
  }
  main {
    min-width: 285px;
  }
  footer {
    min-width: 285px;
  }
}
