@media (max-width: 768px) {
  .navigation__list {
    display: none;
    position: relative;
  }

  .container {
    max-width: 90%;
  }

  #menuBtn {
    display: block;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
  }

  .mobile-links {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #1a1e1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    z-index: 1;
    color: white;
  }
}
