/* font imports */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;800&display=swap");

/* Reset some default values */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans Georgian", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 0;
}

section h1 {
  margin-bottom: 2rem;
}

/* Header css  */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1e1f;
  transition: background-color 0.4s ease;
  color: white;
  min-height: 80px;
  align-items: center;
  z-index: 1000;
}

.main-header.transparent {
  background-color: rgba(26, 30, 31, 0.7);
}

.container {
  padding: 2rem;
  max-width: 980px;
  margin-inline: auto;
  color: white;
}

.header-nav-logo {
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navigation__list a {
  color: white;
}

.navigation__list a:hover,
.navigation__list a.active {
  color: rgb(0, 174, 243);
}

.navigation__menu-btn {
  font-size: 2rem;
}

.mobile-links,
#menuBtn {
  display: none;
}

/* Hero section */
.hero {
  background: url("./assets/hero.png.webp") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

.hero__desc {
  display: flex;
  height: 100%;
  flex-direction: column;
  color: white;
  justify-content: flex-end;
  min-height: 300px;
  gap: 1.8rem;
}

.hero__desc__title {
  font-size: 2.5rem;
  font-weight: 800;
}

.hero__desc__subtitle {
  font-size: 2rem;
  font-weight: 800;
}

.hero-title {
  background-color: #2b2b2b;
}

.hero-title__subtitle {
  color: white;
  font-size: 1.8rem;
  line-height: 125%;
}

.hero-title__more {
  color: rgb(0, 174, 243);
  font-size: 1.7rem;
  margin-top: 3rem;
}

.hero-title__more:hover {
  color: gray;
  cursor: pointer;
}

/* all courses section */
.courses {
  background-color: #161616;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15.5rem, 80%), 1fr));
  grid-gap: 2rem;
  grid-template-rows: 3;
}

.card {
  background-color: #161616;
  width: fit-content;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__title {
  font-size: 1.4rem;
  font-family: sans-serif;
}

.card__desc {
  font-size: 0.9rem;
}

.card__about {
  padding: 3rem 1rem;
  color: #3498db;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 1.1rem;
}

.card__about::before {
  content: "\2192";
  font-size: 1.2em;
}

.card__about:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

/* Partniors section carusel */

.partniors {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: hidden;
}

.partniors__head {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.partniors__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.partniors__items__img {
  flex: 1;
  min-height: 80px;
  max-width: 250px;
}

.partniors__alone {
  display: flex;
  justify-content: center;
}

.partniors__icon {
  width: 10px;
}
.partniors__btn {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.partniors__left {
  left: 150px;
}

.partniors__right {
  right: 150px;
}

.partniors .slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.partniors .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
}

.partniors .dot.active {
  background-color: #bbb;
}

/* FAQ section */
.faq {
  background-color: #161616;
}

.faq__headlines {
  display: flex;
  justify-content: space-between;
}

.faq__headlines {
  font-size: 1.5rem;
}

.faq__headlines h2 {
  color: #3498db;
  font-size: 1.2rem;
}

.faq__headlines h2:hover {
  color: gray;
  cursor: pointer;
}

.faq__question {
  border-bottom: 1px solid #373636;
  height: auto;
}

.faq__question button {
  width: 100%;
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  gap: 1rem;
}
.faq__question p {
  font-size: 0.9rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  line-height: 1.5;
  transition: all 0.6s ease;
}

.faq__question p.show {
  max-height: 1200px;
  opacity: 1;
  padding: 1rem 0;
}

.faq__question span {
  text-align: start;
}

.d-arrow {
  transition: transform 0.5s ease-in;
  color: #fff;
}

.faq__question button .d-arrow.rotate {
  transform: rotate(180deg);
}

/* Footer section */
.footer__section {
  background-color: #1a1e1f;
}

.footer__tbc-logo {
  width: 106px;
}

.footer__logos,
.footer__social-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-links {
  margin-left: 10px;
  width: 40px;
}

.footer__rights-reserved-container {
  margin: 20px 0px;
}

.footer__all-rights-reserved,
.footer__terms-and-conditions {
  color: whitesmoke;
  cursor: default;
}

.footer__terms-and-conditions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__contact-btn {
  background-color: #00aef3;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: whitesmoke;
}

.footer__contact-btn:hover {
  transition: 0.4s;
  background-color: #d5d5d5;
  color: black;
}
