/* font imports */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@400;800&display=swap");

/* Reset some default values */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Noto Sans Georgian", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  padding: 2rem 0;
}

section h1 {
  margin-bottom: 2rem;
}

/* Header css  */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1e1f;
  transition: background-color 0.4s ease;
  color: white;
  height: 100px;
  align-items: center;
  z-index: 1000;
}

.main-header.transparent {
  background-color: rgba(26, 30, 31, 0.7);
}

.container {
  padding: 2rem;
  max-width: 65%;
  margin-inline: auto;
  color: white;
}

.header-nav-logo {
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navigation__list a {
  color: white;
}

.navigation__list a:hover,
.navigation__list a.active {
  color: rgb(0, 174, 243);
}

.mobile-links,
#menuBtn {
  display: none;
}

/* Hero section */
.hero {
  background: url("/assets/hero.png.webp") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
}

.hero-title {
  background-color: #2b2b2b;
}

.hero-title__subtitle {
  color: white;
  font-size: 1.8rem;
  line-height: 125%;
}

.hero-title__more {
  color: rgb(0, 174, 243);
  font-size: 1.7rem;
  margin-top: 3rem;
}

.hero-title__more:hover {
  color: gray;
  cursor: pointer;
}

/* all courses section */
.courses {
  background-color: #161616;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(17rem, 100%), 1fr));
  grid-gap: 2rem;
  grid-template-rows: 3;
}

.card {
  background-color: #161616;
  width: fit-content;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__title {
  font-size: 1.4rem;
  font-family: sans-serif;
}

.card__desc {
  font-size: 0.9rem;
}

.card__about {
  padding: 3rem 1rem;
  color: #3498db;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-size: 1.1rem;
}

.card__about::before {
  content: "\2192";
  font-size: 1.2em;
}

.card__about:hover {
  filter: brightness(0.8);
  cursor: pointer;
}
